.lasagna-heading,.pizza-heading {
    color: rgb(170, 145, 6);
    text-align: center;
}
* {
    font-family: cursive;
    box-sizing: border-box;
    
}
ol,ul {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
p {
    text-align: center;
}
a.home-button {
    font-size: 50px;
}
.line-para {
    text-align: center;
}
body {
    background-color: blanchedalmond;
}
h2,h3,h4,h5,h6 {
    color: rgb(199, 121, 3);
    text-align: center;
}
ul li, ol li {
    color: rgb(54, 45, 3);
    line-height: 2.3;
    text-align: center;
    list-style-position: inside;
}
a {
    color: rgb(63, 37, 3);
}
img.pizza {
    margin: auto;
    display: block;
    border: 10px dashed rgb(189, 154, 1)
}
img.lasagna {
    margin: auto;
    display: block;
    border: 10px dashed rgb(189, 154, 1)
}
h1.index-header {
    text-align: center;
    color: rgb(107, 64, 9);
}
button.home-button {
    padding: 5px 10px 20px 5px;
    background-color: blanchedalmond;
}
h3 {
    font-size: 25px ;
}
a.source {
    font-size: 25px;
    color: rgb(78, 39, 3);
    text-align: center;
}
div .source {
    display: flex;
    justify-self: center;
}

.source {
    background-color: bisque;
    
}

ul.lasagna-ingredient-list {
    display: flex;
    flex: 1 1 auto;
}
ul.lasagna-ingredient-list li {
    margin: 10px 10px;
}
.lasagna-steps-list {
    margin-bottom: 40px;
}

ol.pizza-steps-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

}
ol.pizza-steps-list li {
    flex: 1 1 auto;
}
ul.pizza-ingredients-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    gap: 5px;
    padding: 0;
    margin: 0;
    gap: 10px;
}
.description-para-container {
    display: flex;
    width: 500px;
    justify-self: center;
}
.pizza-description,
.pizza-ingredients,
.pizza-steps {
    display: flex;
    width: 600px;
    justify-self: center;
}
.pizza-steps {
    width: 1200px;
    margin-bottom: 40px;
}
.lasagna-ingredients {
    display: flex;
    justify-self: center;
    width: fit-content;
}


